@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: #e5e5e5;
    font-family: 'Roboto', sans-serif;;
}
.menu {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
}
.menu-wrapper {
    width: 100%;
    max-width: 614px;
    height: 92px;
    background-color: #CF2B2B;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main {
    margin-top: 120px;
    margin-bottom: 120px;
}
.titulo {
    margin-left: 21px;
    color: #ffffff;
}
.titulo h1 {
    font-family: 'Righteous', cursive;
    font-size: 44px;
}
.titulo h2 {
    font-size: 18px;
}
.opcoes {
    width: 100%;
    max-width: 614px;
    margin: 30px auto;
}
.opcoes-titulo {
    font-size: 26px;
    color: #333333;
    font-family: 'Righteous', cursive;
    margin-left: 19px;
}
.opcoes-itens {
    margin-top: 15px;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    margin-left: 19px;
}
.itens-card {
    width: 172px;
    height: 216px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding: 18px 14px;
    font-size: 16px;
    margin-right: 16px;
}
.itens-card h1 {
    color: #333333;
    font-weight: 700;
    margin-top: 8px;
}
.itens-card h2 {
    font-weight: 400;
    margin-top: 12px;
}
.itens-card p {
    font-size: 15px;
    color: #A6A6A6;
    font-weight: 300;
    margin-top: 8px;
}
.barra-inferior {
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
}
.barra-wrapper {
    background-color: #CBCBCB;
    width: 364px;
    height: 61px;
    border-radius: 50px;
}
.barra-wrapper p {
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    margin-top: 6px;
}
.borda {
    border: 5px solid green;
}